DEVISE_JWT_SECRET_KEY=WW6IMGPXJdF76F1k1GwXVrYumh6uCiicJ4kXlfbYFT7B6Tme1
DATABASE_HOST=db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
REDIS_URL=redis://redis:6379/0
RAILS_ENV=development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
SMTP_USERNAME=example@gmail.com
SMTP_PASSWORD="aaaaaaaaaaaaaaaaaaaaa"
FRONTEND_URL=http://localhost:3001
SECRET_KEY_BASE=WW6IMGPXJdF76F1k1GwXVrYumh6uCiicJ4kXlfbYFT7B6Tme1
