<h1>Confirma tu cuenta</h1>
<p>Hola <%= @user.email %>,</p>
<p>Por favor, haz clic en el siguiente enlace para confirmar tu cuenta:</p>
<p><%= link_to 'Confirmar mi cuenta', @confirmation_url %></p>
<p>Si no solicitaste esta confirmación, por favor ignora este email.</p>